.container {
  position: relative;
  display: grid;
  min-height: 530px;
  background: #fff;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead td {
  font-weight: bold;
}

table tr {
  border-bottom: 1px solid gray;
}

table tbody tr:hover {
  background: #003147;
  color: #fff;
}

table tr td {
  padding: 9px 5px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.colItem {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #cccccc;
}

.colItem:hover {
  cursor: pointer;
}

.active {
  background-color: green;
  color: #fff;
}

.hidden {
  display: none;
}

.date {
  display: flex;
  flex-direction: column;
}

.chartContainer {
  justify-content: center;
  display: flex;
}
